
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
       Hello <%= @name %>
    </p>
    <p>Thanks for your purchase of the product.</p>
    <p>Click on this link to view your receipt</p>
    <%= link_to 'View' , receipt_view_url(@ref_id)%>
  </body>
</html>