/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

.shadow{
box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15)
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:visited {
    background-color: #1e282c !important;
    color: #fff !important;
}
.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:link {
    color: #fff !important;
}

.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover {
    background-color: #1e282c !important;
    color: #fff !important;
    border-left-color: #3c8dbc !important;
}



.navbar-fixed-side .navbar-nav .dropdown-menu>.active>a {
    background-color: #1e282c !important;
    color: #fff !important;
    border-left-color: #3c8dbc !important;
}


.navbar-fixed-side .navbar-nav .dropdown-menu{
  border-bottom:0 !important;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    left: inherit !important;
    right: inherit !important;
    padding:0;
}
.navbar {
    margin-bottom:0 !important;
}
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
    margin-left: -15px;
    margin-right: -15px;
}
