/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

.shadow{
box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15)
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:visited {
    background-color: #1e282c !important;
    color: #fff !important;
}

.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover {
    background-color: #1e282c !important;
    color: #fff !important;
    border-left-color: #3c8dbc !important;
}

.navbar-fixed-side .navbar-nav .dropdown-menu>.active>a {
    background-color: #1e282c !important;
    color: #fff !important;
    border-left-color: #3c8dbc !important;
}

.navbar-fixed-side .navbar-nav .dropdown-menu{
  border-bottom:0 !important;
}

